{% extends 'base.html.twig' %}

{% block title %}
  Proveedor - Biografia
{% endblock %}

{# {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/registro_biografia.css') }}" />
{% endblock %} #}

{% block body %}
  <style>
    
    
    .container p-3 {
      /*min-height: 90vh;*/
      background-image: url('./image/Imagen1.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
    }
    .contboton-cerrar {
      display: flex;
      justify-content: end;
    }
    .boton-cerrar {
      font-size: 25px;
    }
    .footer {
      position: fixed;
      bottom: 0;
      color: rgba(0, 0, 0, 0.66);
      font-family: Odor Mean Chey;
      font-size: 15px;
      font-weight: 400;
      line-height: normal;
    }
    .contenido-biografia-proveedor {
      min-height: 65vh;
      max-height: 65vh;
      background-color: antiquewhite;
      background-color: #fff !important;
    }
    .titulo-biografia-proveedor {
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      font-family: Nunito;
      font-size: 16px;
      font-weight: 800;
    }
    .texto-biografia-proveedor {
      border-radius: 20px;
      margin-bottom: 90px;
    }
    .boton-biografia-proveedor {
      border-radius: 40px;
      filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
      text-align: center;
      font-family: Nunito;
      font-size: 20px;
      font-weight: 500;
      background: #4302ae;
      border: none;
    }
    .contenido-boton-proveedor {
      display: flex;
      justify-content: center;
    }
    
   
  </style>
  <div class="container p-3">
    <div class="container">
      {{ include('components/cabecera.html.twig') }}

      <div class="container bg-light rounded-5 contenido-biografia-proveedor">
        <div class="container">
          <div class="row">
            <div class="col-12 titulo-biografia-proveedor">¡Bienvenido(a) {{persona.pnombre}}!</div>
          </div>
          <div class="row">
            <div class="col-12">
              <form method="post" action="{{ path('app_prov_bio', {'id': persona.id}) }}">
                  <textarea class="texto-biografia-proveedor" name="p_biografia" id="p_biografia" cols="30" rows="5" style="width: 100%; font-size:14px; font-family:Nunito; font-weight:700; padding-top: 8px; padding-left: 8px;" placeholder="Agregar biografía">{{ persona.pbiografia }}</textarea>
                  <div class="row contenido-boton-proveedor">
                    <button type="submit" class="btn btn-primary col-12 boton-biografia-proveedor">Detalles de servicio</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ include('components/footer.html.twig') }}
{% endblock %}
