{% extends 'base.html.twig' %}

{% block title %}
  Chat Proveedor
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/chatclientes.css') }}" />
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center h-100 w-100">
  <div class="container proveedor-chatclientes-container">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            {{ include('components/cabecera_con_X.html.twig') }}
        </div>
        <div class="d-flex flex-column chatclientes-container">
            <div class="chatclientes-header d-flex align-items-center mb-3">
                <img src="{{asset("image/ceci.png")}}" width="90px"/>
                <span class="ms-3">Cecilia Marin</span>
            </div>

            <div class="chatclientes-body">
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/ceci.png")}}"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Cuánto sería el costo de realización del servicio</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>S/. 1500 por todo</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/ceci.png")}}"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Esta bien, como realizo el pago</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Ahora le genero el ticket de pago, podra visualizarlo en saldos y pagos </p>
                    </div>
                </div>
                {#  #}
                
            </div>
        </div>
  </div>
</div>
{% endblock %}