{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
   <link rel="stylesheet" href="{{ asset('css/registration/registro_cliente.css') }}" /> 
{% endblock %}

{% block body %}
  {# {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <h1>Registro de cliente</h1>

  {{ form_errors(registrationForm) }}

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.email) }}
  {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}s
  {{ form_row(registrationForm.agreeTerms) }}

  <button type="submit" class="btn">Register</button>
  {{ form_end(registrationForm) }} #}
  {# empieza vista #}
  <div class="container p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 d-flex justify-content-center">{{ include('components/logo_mediano.html.twig') }}</div>
        <div class="col-1"></div>
      </div>

      <div class="container bg-light rounded-5 contenido-biografia-proveedor">
        <div class="container">
          <div class="container" style="padding-top: 10px;">
            <div class="row d-flex justify-content-center conten-inicio-registro">
              <div class="col-6 opcion-registrar-usuario">
                <a href="">Iniciar sesion</a>
              </div>
              <div class="col-6 opcion-registrar-usuario boton-opcionn-registrar-usuario">
                <a href="">Registrate</a>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-12 titulo-registrar-usuario text-center">Bienvenido a Asap Services</div>
          </div>
          <div class="row">
            <div class="col-12 row row-gap-3">
              <div class="input-group mb-1">
                <input type="text" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-registro-usuario" for="floatingInput">Nombre y Apellido</label>
              </div>
              <div class="input-group mb-1">
                <input type="number" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-registro-usuario" for="floatingInput">Numero de Celular</label>
              </div>
              <div class="input-group mb-1">
                <input type="text" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-registro-usuario" for="floatingInput">Direccion</label>
              </div>
              <div class="input-group mb-1">
                <input type="email" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-registro-usuario" for="floatingInput">Correo Electrónico</label>
              </div>
              <div class="input-group mb-1">
                <input type="password" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-registro-usuario" for="floatingInput">Contraseña</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center p-3">
              <label class="checkbox-label texto-terminos-condificones-cliente"><input type="checkbox" id="cbox1" value="checkbox1" class="checkbox-terminos-condiciones-cliente" /><a href="">Aceptar términos y condiciones</a></label>
            </div>
          </div>
          <div class="row contenido-boton-registrar">
            <div class="col-10">
              <button type="button" class="btn col-12 boton-registrar-cliente">Registrate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
