{% extends 'base.html.twig' %}
{% block title %}
  Proveedor - Servicios
{% endblock %}

{% block body %}
<div class="contenedor general">
    <img src="{{ asset('image/' ~ proveedor.pfoto) }}" width="200px" height="200px">
    <h3>{{proveedor.pnombre}} {{proveedor.papellido}}</h3>
    <p>Sobre mi: <br>{{proveedor.pbiografia}}</p>
    <p>Contacto: {{proveedor.pcontacto}}</p>
    <p>Dirección: {{proveedor.pdireccion}}</p>
    <p>Experiencia laboral: {{proveedor.pexperiencia}}</p>
    <p>Distrito: {{proveedor.pdistrito}}</p>
    <p>Habilidades técnicas: {{proveedor.phabilidades}}</p>
</div>
{% endblock %}