{% extends 'base.html.twig' %}

{% block title %}Cliente Inicio{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/index.css') }}" />
{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Email: {{ app.user.email }}</p>
{% endif %}

<div class="d-flex justify-content-center align-items-center h-100 w-100">
<div class="container inicio-container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        {{ include('components/logo_mediano.html.twig') }}
        <h1 class="inicio-title">Asap Servicios</h1>
    </div>
    <div class="d-flex flex-column gap-2">
        <a class="boton-cliente-iniciar-sesion" href="{{ path('app_register') }}">Iniciar Sesión</a>
        <p class="cliente-pregunta-cuenta">
            ¿No tienes una cuenta?
            <a href="">Registrate</a>
        </p>
    <div>
</div>
</div>

{# <a href="{{ path('app_cliente_serv') }}">Ver servicios</a>
{{ dump(aux_session) }} #}


{% endblock %}
