{% extends 'base.html.twig' %}

{% block title %}
  Login
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/reset_password/enviar_correo.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/reset_password/verificacion_correo.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/reset_password/nueva_contrasenia.css') }}" />
{% endblock %}

{% block body %}
  {#   {% for flash_error in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}
  <h1>Reset your password</h1>

  {{ form_start(requestForm) }}
  {{ form_row(requestForm.email) }}
  <div>
    <small>Enter your email address, and we will send you a link to reset your password.</small>
  </div>

  <button class="btn btn-primary">Send password reset email</button>
  {{ form_end(requestForm) }}
 #}






  {# RECORDAR PASSWORD #}

{# <div class="container p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 d-flex justify-content-center">
           {{ include('components/logo_mediano.html.twig') }}
        </div>
        <div class="col-1"></div>
      </div>

      <div class="container bg-light rounded-5 contenido-recordar-password">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <p class="titulo-recordar-password ">Recordar Contraseña</p>
              <p class="subtexto-recordar-password ">Ingrese su correo electronico y le enviaremos las instrucciones</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 row row-gap-3">
              <div class="input-group mb-3 mt-3">
                <input type="email" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-recordar-password" for="floatingInput">Correo Electrónico</label>
              </div>
            </div>
          </div>
          <div class="row contenido-boton-recordar">
            <div class="col-10">
              <button type="button" class="btn col-12 boton-recordar-password">Registrate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
#}

  {# INGRRESAR CODIGO DE VERIFICACION #}

{#   <div class="container p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 d-flex justify-content-center">{{ include('components/logo_mediano.html.twig') }}</div>
        <div class="col-1"></div>
      </div>

      <div class="container bg-light rounded-5 contenido-codigo-verificacion">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <p class="titulo-codigo-verificacion">Ingresar Codigo de Verificacion</p>
              <p class="subtexto-codigo-verificacion">Revisa tu correo, se envió un código de verificación</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 row row-gap-3">
              <div class="input-group mb-3 mt-3">
                <input type="number" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-codigo-verificacion" for="floatingInput">Codigo</label>
                <span class="reenviar-codigo-verificacion mt-3"><a href="">Enviar de nuevo</a></span>
              </div>
            </div>
          </div>
          <div class="row contenido-boton-verificacion">
            <div class="col-10">
              <button type="button" class="btn col-12 boton-codigo-verificacion">Validar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
#}

 {# CAMBIAR PASSWORD #}

{# <div class="container p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 d-flex justify-content-center">{{ include('components/logo_mediano.html.twig') }}</div>
        <div class="col-1"></div>
      </div>

      <div class="container bg-light rounded-5 contenido-cambiar-password">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <p class="titulo-cambiar-password">Cambiar contraseña</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 row row-gap-3">
              <div class="input-group mb-3 mt-3">
                <input type="password" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-cambiar-password" for="floatingInput">Nueva contraseña</label>
              </div>
              <div class="input-group mb-3 mt-3">
                <input type="password" class="input-field form-control" id="floatingInput" placeholder=" " />
                <label class="input-label texto-cambiar-password" for="floatingInput">Confirma contraseña</label>
              </div>
            </div>
          </div>
          <div class="row contenido-boton-cambiarpassword mt-3">
            <div class="col-10">
              <button type="button" class="btn col-12 boton-cambiar-password">Cambiar Contraseña</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
#}
{% endblock %}
