{% extends 'base.html.twig' %}

{% block title %}
  Registro de cliente
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/contactar_proveedor.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
  {# Empieza vista #}
  <div class="container p-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 d-flex justify-content-center"></div>
        <div class="col-6 d-flex justify-content-center"><img src="{{ asset('image/casita_opt.png') }}" style="width:100%"></div>
        <div class="col-3 d-flex justify-content-center contboton-cerrar">
          <a href="">x</a>
        </div>
      </div>

      <div class="container rounded-5 contenido-general-contactar-proveedor-cliente">
        <div class="container">
          <div class="row pt-3 pb-2" style="display: flex; justify-content:center; align-items:center">
            <div class="col-4 icono-apoyo-usuario-cliente mb-3">
              <img class="icono_promociones_cupones" style="width: 100%;" src="{{ asset('/image/icono_invitar_amigos.png') }}" alt="" />
            </div>
            <div class="col-8 detalles-contacto-proveedor-cliente mb-3">
              <div class="col-12 titulo-contactar-proveedor-cliente">Cristhian Ramirez</div>
              <div class="col-12 texto-contactar-proveedor-cliente">Proveedor de servicios</div>
            </div>
          </div>

          {# chat general #}

          <div class="chat-container-scroll">
            <div class="container-mensaje-cliente-proveedor text-end">
              <div class="row d-flex align-items-center" style="width:100%">
                <div class="col-9">
                  <div class="mensaje-cliente-a-proveedor">
                    <span class="bg-secondary text-white p-1 rounded-3 d-block">Disculpe</span>
                  </div>
                </div>
                <div class="col-3">
                  <img class="icono-cliente-a-proveedor" src="{{ asset('/image/icono_invitar_amigos.png') }}" alt="" />
                </div>
              </div>
            </div>

            <div class="container-mensaje-proveedor-cliente text-start">
              <div class="row d-flex align-items-center" style="width:100%">
                <div class="col-3">
                  <img class="icono-proveedor-a-cliente" src="{{ asset('/image/icono_pequenio_ayuda_cliente.png') }}" alt="" />
                </div>
                <div class="col-9">
                  <div class="mensaje-proveedor-a-cliente">
                    <span class="bg-secondary text-white p-1 rounded-3 d-block">Hola!</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {# inputs para enviar mensaje al chat general #}
          <div class="container container-opciones-mensajes">
            <div class="row d-flex justify-content-center" style="width: 100%;">
              <div class="col-9 p-0">
                <textarea class="form-control rounded-5" id="message-input-cliente" placeholder="Escribe tu mensaje..."></textarea>
              </div>
              <div class="col-3">
                <button class="btn btn-primary d-flex justify-content-center p-0 rounded-5" id="send-button-cliente"><i class="fas fa-arrow-up" id="icon-submit-cliente"></i></button>
              </div>
            </div>
          </div>

          {# fin chat #}
        </div>
      </div>
    </div>
    </div>
  </div>

  {{ include('components/footer.html.twig') }}
{% endblock %}
