{% extends 'base.html.twig' %}
{% block title %}
  Proveedor - Servicios
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/detalle_proveedor.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
<div class="container mt-3" data-turbo="false">
    <div class="prov-container">

        <div>
            <div class="text-end me-2 mb-1">
            <a href="{{ path('app_asap_services_entornos_cliente_ver_servicio', {'id': servicioId}) }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </a>
            </div>
            <div class="row d-flex justify-content-center">
                <img class="img-perfil" src="{{ asset('img/' ~ ((proveedor.pfoto is null) ? 'perfil.png' : proveedor.pfoto)) }}" style="border-radius:50%"/>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 nombre-proveedor text-center mt-2">
                    <h3 class="fw-bold">{{ proveedor.pnombre ~ " " ~ proveedor.papellido }}</h3>
                </div>
            </div>
        </div>
        <div class="info-prov-container">
            <div class="edad">
                <span>Edad: </span>
                <span> - años</span> {# Necesario agregar campo #}
            </div>
            <div class="sobre-mi">
                <div class="titulo">Sobre mi: </div>
                <p>{{ (proveedor.pbiografia is null) ? '-' : proveedor.pbiografia }}</p>
            </div>
            <div class="titulo-2">
                <span>Contacto: </span>
                <span>{{ (proveedor.pcontacto is null ) ? '-' : proveedor.pcontacto }}</span>
            </div>
            <div class="titulo-2">
                <span>Direccion: </span>
                <span>{{ (proveedor.pdireccion is null) ? '-' :  proveedor.pdireccion }}</span>
            </div>
            <div class="titulo-2">
                <span>Experiencia: </span>
                <span>{{ (proveedor.pexperiencia is null) ? '-' : proveedor.pexperiencia }}</span>
            </div>
            <div class="titulo-2">
                <span>Distrito: </span>
                <span>{{ (proveedor.pdistrito is null) ? '-' : proveedor.pdistrito }}</span>
            </div>
            <div class="habilidades">
                <div class="titulo">Habilidades Tecnicas: </div>
                <p>{{ (proveedor.phabilidades is null) ? '-' :  proveedor.phabilidades }}</p>
            </div>
        </div>
    </div>
    </div>
    
    {#  
        <form method="POST"> 
            <button type="submit">Enviar</button>
        </form> 
        <form action="{{ path('app_cliente_comunicate_post', {'id': proveedor.id}) }}" method="post">
            <button type="submit">Comunicate</button>
        </form>
        {{ form(form) }}  
    #}
  </div>
            
  {{ include('components/footer.html.twig') }}
{% endblock %}