{% extends 'base.html.twig' %}

{% block title %}
  Invitar Amigos
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/invitar_amigos.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
  <div class="container p-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 d-flex justify-content-center"></div>
        <div class="col-6 d-flex justify-content-center"><img src="{{ asset('image/casita_opt.png') }}" style="width:100%"></div>
        <div class="col-3 d-flex justify-content-center contboton-cerrar">
          <a href="{{ path('app_asap_services_entornos_cliente_inicio') }}">
            <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </a>
        </div>
      </div>

      <div class="container rounded-5 contenido-invitar-amigos-cliente">
        <div class="container scrool">
          <div class="row">
            <div class="col-12 titulo-invitar-amigos-cliente pt-3 pb-2">Invitar amigos</div>
          </div>
          <div class="row">
            <div class="col-12 texto-invitar-amigos-cliente mb-3">Comparte tu código y obtendras descuentos.</div>
          </div>
          <div class="row d-flex justify-content-center mb-3">
            <img class="col-6" src="{{ asset('/image/icono_invitar_amigos.png') }}" alt="" />
          </div>
          <div class="row">
            <div class="col-12 texto-invitar-amigos-cliente mb-3">Cuando tus amigos se registren y hayan solicitado su primer servicio de asistencia, obtendrás un descuento del 30% en tu siguiente solicitud.</div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-12 texto-codigo-invitar-amigos-cliente mb-3">{{codigo}}</div>
          </div>
          <div class="row contenido-boton-invitar-amigos">
            <div class="col-10">
              <form method="GET" action="{{ path('app_asap_services_entornos_cliente_menu_invitar_mensaje') }}">
                <input type="hidden" name="codigo" value="{{ codigo }}">
                <button type="submit" class="btn col-12 boton-invitar-amigos">Invitar amigos</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  {{ include('components/footer.html.twig') }}
{% endblock %}
