{% extends 'base.html.twig' %}

{% block title %}
	Contacta tu Servicio
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('css/cliente/pre_contactar_proveedor.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}
	<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div
		class="imagen">
		{# Empieza vista #}
		<div class="container p-3">
			<div class="container">
				<div class="row d-flex justify-content-center align-items-center">
					<div class="col-3 d-flex justify-content-center"></div>
					<div class="col-6 d-flex justify-content-center">{{ include('components/logo_pequenio.html.twig') }}</div>
					<div class="col-3 d-flex justify-content-center contboton-cerrar">
						<a href="{{ path('app_asap_services_entornos_cliente_ver_servicio', {'id': servicioId}) }}">
							<svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
						</a>
					</div>
				</div>

				<div class="container rounded-5 card text-center border-0" style="height: 550px">
					<div class="container position-relative">
						<div class="row">
							<div class="col-12 titulo-precontactar-proveedor-cliente pt-3 pb-2">Comunicate con el proveedor</div>
						</div>

						<div class="container col-11 card border-0 shadow-lg p-2 mb-4 bg-body-tertiary me-0 ms-4" style="border-radius: 30px">
							<div class="p-2 d-flex justify-content-center">
								<div class="row" style="width: 100%;">
									<div class="col-5 p-0 d-flex justify-content-center align-items-center" style="
																					    z-index: 1;">
										{% if proveedor.pfoto %}
											<img class="position-absolute top-50 start-0 translate-middle" src="{{ asset("img/" ~ proveedor.pfoto) }}" width="95px" height="95" style="border-radius:50%"/>
										{% else %}	
											<img class="position-absolute top-50 start-0 translate-middle" src="{{ asset("image/perfil.png") }}" width="95px" height="95" style="border-radius:50%"/>										
										{% endif %}
									</div>
									
									<div class="" style="z-index: 1;">
										<span class="titulo-detalle-precontactar-proveedor-cliente">{{ proveedor.pnombre ~ proveedor.papellido }}</span>
										<span class="texto-detalle-precontactar-proveedor-cliente mt-2">★ - / 5</span>
										{# Desarrollar funcionalidad#}
										<span class="texto-detalle-precontactar-proveedor-cliente">Ubicacion:
											{{ (proveedor.pdireccion is null) ? '-' :  proveedor.pdireccion }}</span>
										{# 2KM #}
										<span class="texto-detalle-precontactar-proveedor-cliente">Distrito:
											{{ (proveedor.pdistrito is null) ? '-' : proveedor.pdistrito }}</span>
									</div>
								</div>
							</div>
							{# <div class="contenedor-general"></div> #}
						</div>
					<div class="pt-5 my-5"></div>
						<div class="row justify-content-center align-items-center pt-5 my-5">
							{# <div class="col-10">
														              <button type="submit" class="btn col-12 boton-precontactar-proveedor"><a href="">Ir al chat</a></button>
														            </div> #}
							<div class="col-10">
								<form action="{{ path('app_cliente_provdetalle_post', {'id': proveedor.id}) }}" method="post">
									<button type="submit" class="btn col-12 boton-precontactar-proveedor text-white">Ir al chat</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ include('components/footer.html.twig') }}
{% endblock %}
