{% extends 'base.html.twig' %}

{% block title %}
  Canjea tu Codigo
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/promociones_cupones.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
  {# Empieza vista #}
  <div class="container p-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-3 d-flex justify-content-center"></div>
        <div class="col-6 d-flex justify-content-center">{{ include('components/logo_pequenio.html.twig') }}</div>
        <div class="col-3 d-flex justify-content-center contboton-cerrar">
        <a href="{{ path('app_asap_services_entornos_cliente_inicio') }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
        </a>
        </div>
      </div>

      <div class="container rounded-5 contenido-prmociones-cupones-cliente">
        <div class="row">
          <div class="col-12 titulo-promociones-cupones-cliente pt-3 pb-2">Promociones y cupones</div>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" style="width: 100%; background-color:white;border:none">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-2">
              <div class="row">
                <span><img class="icono_promociones_cupones" src="{{ asset('/image/icono_promociones_cupones.png') }}" alt="" /></span>
              </div>
            </div>
            <div class="col-10">
              <div class="row">
                <span style="font-size: 14px;"><p style="padding-bottom: 4px; font-weight: 700; color: black; border-bottom: 2px solid black; display: inline;">Ingresar el código promocional ></p></span>
              </div>
            </div>
          </div>
        </button>
        {% for flashSuccess in app.flashes('success') %}
          <div class="alert alert-success mt-4" role="alert">
            {{ flashSuccess }}
          </div>
        {% endfor %}
        {% for flashError in app.flashes('error') %}
          <div class="alert alert-danger mt-4" role="alert">
            {{ flashError }}
          </div>
        {% endfor %}
        <div class="offcanvas offcanvas-bottom" style="background-color: #DCCEF2; border-top-left-radius: 15px;
            border-top-right-radius: 15px;height: 60vh;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Código promocional</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <hr />
          <div class="offcanvas-body small">
            <form action="{{ path('app_asap_services_entornos_cliente_menu_promociones_codigo') }}" method="post" class="form-floating">
              <input type="text" name="codigo" class="form-control" id="floatingInputValue" placeholder="" />
              <label for="floatingInputValue">Tu código promocional</label>

              <div class="row contenido-promocion-cupones-cliente pt-3">
                  <div class="col-8">
                      <button type="submit" class="btn col-12 boton-activar-promocion-cliente">Activar</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  {{ include('components/footer.html.twig') }}
{% endblock %}
