{% extends 'base.html.twig' %}

{% block title %}
  {{servicio.svnombre}} proveedores
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/servicios_tipos.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
  <div class="container">
  
    {{ include("components/cabecera.html.twig") }}

    <div class="cliente-servicios-container">
      <h3 class="servicio_tipo mb-2">{{servicio.svnombre}}</h3>
      <a href="{{ path('app_asap_services_entornos_cliente_ajustes_favoritos_estado', {'id': servicio.id}) }}">★</a>

      <div class="servicios-tipos-container d-flex flex-column align-items-center overflow-auto" style="max-height: calc(100% - 50px);">
        {% for proveedor in proveedores %}
          <div class="position-relative d-flex align-items-center my-2 w-100">
            {% if proveedor.idpersona.pfoto %}
              <figure class="position-absolute">
                <img src="{{ asset("img/" ~ proveedor.idpersona.pfoto) }}" width="105px" style="border-radius:50%"/>
              </figure>
            {% else %}
              <figure class="position-absolute">
                <img src="{{ asset("image/perfil.png") }}" width="30%" style="border-radius:50%"/>
              </figure>
            {% endif %}
            <div class="servicio-card-detalles">
                <form action="{{ path('app_cliente_comunicate_post', {'id': proveedor.idpersona.id}) }}" method="post">
                    <button type="submit" class="btn btn-unstyled w-100"><h3>{{ proveedor.idpersona.pnombre }} {{ proveedor.idpersona.papellido }}</h3></button>
                </form>
                <h5>Ubicación: {{ (proveedor.idpersona.pdireccion is null) ? '-' : proveedor.idpersona.pdireccion }} </h5> {# API distancias necesario majorar #}
                <h6>Distrito: {{ (proveedor.idpersona.pdistrito is null) ? '-' : proveedor.idpersona.pdistrito }} </h6> {# Mejorar funcionalidad#}
                <span class="btn-ver-detalle-proveedor"><a href="{{ path('app_asap_services_entornos_cliente_ver_servicio_ver_detalle_proveedor', {'id': proveedor.idpersona.id }) }}">Ver detalle</a></span>
            </div>
          </div>
        {% else %}
          <div>
              <h5>No hay servicios disponibles.</h5>
          </div>
        {% endfor %}
      </div>
    </div>
    {{ include("components/footer.html.twig") }}
  </div>
  </div>
{% endblock %}