{% extends 'base.html.twig' %}
{% block title %}
  Servicios disponibles
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/cliente/showservicios.css') }}" />
  	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

{% endblock %}

{% block body %}<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
  <div class="container" data-turbo="false">
    {{ include("components/cabecera.html.twig") }}
    <div class="cliente-servicios-container">
      <h3 class="cliente-servicios-title">¿Que servicios deseas hoy?</h3>
      <div class="overflow-auto" style="max-height: calc(100vh - 150px);">
        {% for servicio in servicios %}
          {#
            <div class="d-flex justify-content-center align-items-center mt-4">
              <button type="submit" class="cliente-servicios-item">
                <img src="{{ servicio.svimagen }}" style="width: 20%; border-radius: 50%;">
                <a class="cliente-servicios-item-text">{{ servicio.svnombre }}</a>
              </button>
            </div>
            <form method="post" action="{{ path('app_asap_services_entornos_cliente_ver_servicio', {'id': servicio.id}) }}"></form>
          #}
          <div class="d-flex justify-content-center align-items-center mt-4 mb-3">
            <a href="{{ path('app_asap_services_entornos_cliente_ver_servicio', {'id': servicio.id}) }}" class="cliente-servicios-item d-flex align-items-center">
              <img src="{{servicio.svimagen}}" style="width: 20%; border-radius: 50%;">
              <span class="cliente-servicios-item-text">{{ servicio.svnombre }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <p class="footer-text-asap mt-2">Asap Services</p>
  </div>
  </div>
{% endblock %}