{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/chatclientes.css') }}" />
{% endblock %}

{% block body %}
<style>
    .contboton-cerrar {
      font-size: 50px;
      font-weight: 700;
    }
    .contboton-cerrar a {
      color: #000;
      text-decoration: none;
    }
</style>
<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container proveedor-chatclientes-container">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <div class="row d-flex justify-content-center align-items-start w-100 my-1">
                <div class="col-3 d-flex justify-content-center"></div>
                <div class="col-6 d-flex justify-content-center">{{ include('components/logo_pequenio.html.twig') }}</div>
                <div class="col-3 d-flex justify-content-center align-items-top contboton-cerrar">
                <a href="{{ path('app_chat_conversacion') }}">x</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column chatclientes-container position-relative">
            <div class="chatclientes-header d-flex align-items-center mb-3">
                <img src="{{asset("image/ceci.png")}}" width="90px"/>
                <span class="ms-3">Cecilia Marin</span>
            </div>
  
            <div class="list-unstyled" id="chat-box" {{ turbo_stream_listen('/chat/conversacion/' ~ conversacion.id) }}>
            {# <div style="height: 150px; overflow: auto;"> #}
                {# <ul class="list-unstyled" id="chat-box"> #}
                {{ include('asap_services/general/chat/turbo/_chatList.html.twig') }}
                {# </ul> #}
            {# </div> #}
            </div>
            <div class="demo-container-inner-secondary p-4">
                <form id="chat-form" action="{{ path('app_chat_turbo', {id: conversacion.id}) }}" method="POST">
                {{ include('asap_services/general/chat/turbo/_chatForm.html.twig') }}
                </form>
            </div>      
        </div>
    </div>
</div>
{% if is_granted('ROLE_PROV') %}
    <form action="{{ path('app_cantidad_post', {id: conversacion.id})}}" method="POST">
        <button type="submit">Mandar precio</button>
    </form>
{% endif %}
{{ include("components/footer.html.twig") }}

    {# <turbo-stream action="update" target="chat-box">
        <template>
            {{ include('chat/message.stream.html.html.twig') }}
        </template>
    </turbo-stream> #}
{% endblock %}