{% extends 'base.html.twig' %}

{% block title %}Restablecer tu contraseña
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('css/reset_password/nueva_contrasenia.css') }}"/>
{% endblock %}

{% block body %}
	<style>
		.contboton-cerrar {
			font-size: 50px;
			font-weight: 700;
		}
		.contboton-cerrar a {
			color: #000;
			text-decoration: none;
		}
	</style>
	{# 
		    <h1>Reset your password</h1>
		
		    {{ form_start(resetForm) }}
		        {{ form_row(resetForm.plainPassword) }}
		        <button class="btn btn-primary">Reset password</button>
		    {{ form_end(resetForm) }}
		#}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-1"></div>
			<div class="col-8 d-flex justify-content-center"><img src="{{ asset('image/casita_opt.png') }}" style="width:100%"></div>
			<div class="col-1 contboton-cerrar d-flex justify-content-end">
				<a href="{{ path('app_asap_services_general_inicio') }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="0.5em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
				</a>
			</div>
		</div>

		<div class="container bg-light rounded-5 contenido-cambiar-password">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-12">
						<p class="titulo-cambiar-password">Cambiar contraseña</p>
					</div>
				</div>
				{{ form_start(resetForm) }}
				<div class="row d-flex justify-content-center">
					<div class="col-12 row row-gap-3">
						<div class="input-group mb-3 mt-3">
							{{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'input-field form-control', 'id': 'floatingInput', 'placeholder': ' '}}) }}
							{{ form_label(resetForm.plainPassword.first, 'Nueva Contraseña', {'label_attr': {'class': 'input-label texto-cambiar-password'}, 'attr': {'for': 'floatingInput'}}) }}
						</div>
						<div class="input-group mb-3 mt-3">
							{{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'input-field form-control', 'id': 'floatingInput', 'placeholder': ' '}}) }}
							{{ form_label(resetForm.plainPassword.second, 'Confirmar Contraseña', {'label_attr': {'class': 'input-label texto-cambiar-password'}, 'attr': {'for': 'floatingInput'}}) }}
						</div>
					</div>
				</div>
				<div class="row contenido-boton-cambiarpassword mt-3">
					<div class="col-10">
						<button type="submit" class="btn col-12 boton-cambiar-password">Cambiar Contraseña</button>
					</div>
				</div>
				{{ form_widget(resetForm._token) }}
				{{ form_end(resetForm) }}
			</div>
		</div>
	</div>
</div>{% endblock %}
