{% extends 'base.html.twig' %}

{% block title %}
  Chat Proveedor
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/chatclientes.css') }}" />
   	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>
{% endblock %}



{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
<div class="d-flex justify-content-center align-items-center h-100 w-100">
  <div class="container proveedor-chatclientes-container">
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            {{ include('components/cabecera_con_X.html.twig') }}
        </div>
        <div class="d-flex flex-column chatclientes-container position-relative">
            <div class="chatclientes-header d-flex align-items-center mb-3">
                <img src="{{asset("image/perfil.png")}}" width="90px" style="border-radius: 50%;"/>
                <span class="ms-3">Cecilia Marin</span>
            </div>

            <div class="chatclientes-body overflow-auto" style="max-height: calc(100% - 160px);" id="chatContainer">
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Cuánto sería el costo de realización del servicio</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>S/. 1500 por todo</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Esta bien, como realizo el pago</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}} style="border-radius: 50%;""/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Ahora le genero el ticket de pago, podra visualizarlo en saldos y pagos </p>
                    </div>
                </div>
                {#  #}
                                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}} style="border-radius: 50%;""/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Cuánto sería el costo de realización del servicio</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>S/. 1500 por todo</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Esta bien, como realizo el pago</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}" style="border-radius: 50%;"/>
                    </figure> 
                    <div class="chatcliente-mensaje-text">
                        <p>Ahora le genero el ticket de pago, podra visualizarlo en saldos y pagos </p>
                    </div>
                </div>
                {#  #}
                                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Cuánto sería el costo de realización del servicio</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>S/. 1500 por todo</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/perfil.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Esta bien, como realizo el pago</p>
                    </div>
                </div>
                {#  #}
                <div class="chatclientes-mensaje d-flex align-items-center my-2">
                    <figure>
                    <img src="{{asset("image/avatar_prueba.png")}}" style="border-radius: 50%;"/>
                    </figure>
                    <div class="chatcliente-mensaje-text">
                        <p>Ahora le genero el ticket de pago, podra visualizarlo en saldos y pagos </p>
                    </div>
                </div>
                {#  #}
    
            </div>

                {# INPUT CHAT #}

                <div class="position-absolute bottom-0 my-4 row w-100 text-center d-flex justify-content-center">
                    <div class="col-9 px-0"><input class="form-control input-mensaje" type="text" placeholder="Escribe tu mensaje..."></div>
                    <div class="col-2 px-0"><button class="btn-send-chatclientes"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" fill="#fff"/></svg></button></div>
                <div>
        </div>
  </div>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var chatContainer = document.getElementById("chatContainer");
  chatContainer.scrollTop = chatContainer.scrollHeight;
});
</script>

{{ include("components/footer.html.twig") }}
{% endblock %}