{% extends 'base.html.twig' %}

{% block title %}
	Historial Servicios
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('css/proveedor/historial_servicios.css') }}"/>
	 	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>
{% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
	<div class="d-flex justify-content-center align-items-center h-100 w-100">
		<div class="container proveedor-historial-servicios-container">


			<div class="d-flex flex-column justify-content-center align-items-center w-100">
				{{ include('components/cabecera_con_X.html.twig') }}
			</div>

			<div class="d-flex flex-column historial-servicios-container ">
				<h1 class="text-center historial-servicios-title mb-4">Mis servicios</h1>
				<div class="container scroll-historial-proveedor" style="">
					<div class="historial-servicios-card">
						<div class="d-flex justify-content-evenly align-items-center">
							<h6 class="historial-servicios-fecha">Miercoles, 11 de Julio, 09:56 am</h6>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" height="2.3em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"/></svg>
							</a>
						</div>
						<h2 class="historial-servicios-text">Pintura</h2>
						<h2 class="historial-servicios-text">Cliente: Cecilia Marin</h2>
						<h2 class="historial-servicios-text">Dirección: Calle las Hormigas 561</h2>
					</div>
					<br><br>
					<div class="historial-servicios-card">
						<div class="d-flex justify-content-evenly align-items-center">
							<h6 class="historial-servicios-fecha">Miercoles, 11 de Julio, 09:56 am</h6>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg" height="2.3em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"/></svg>
							</a>
						</div>
						<h2 class="historial-servicios-text">Pintura</h2>
						<h2 class="historial-servicios-text">Cliente: Cecilia Marin</h2>
						<h2 class="historial-servicios-text">Dirección: Calle las Hormigas 561</h2>
					</div>


				</div>

</div>
			</div>
		</div>
	{% endblock %}
