{% extends 'base.html.twig' %}

{% block title %}
	Mi perfil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('css/proveedor/mi_perfil.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script>
		function previewImage(event, querySelector) {
const input = event.target;
$imgPreview = document.querySelector(querySelector);
if (! input.files.length) 
return





file = input.files[0];
objectURL = URL.createObjectURL(file);
$imgPreview.src = objectURL;
}

function verCV() {
const inputCV = document.getElementById('proveedor_p_cv').files[0].name;
document.getElementById('listadocv').innerHTML = inputCV;
}

function verAP() {
const inputAP = document.getElementById('proveedor_p_antpen').files[0].name;
document.getElementById('listadoap').innerHTML = inputAP;
}

function verAC() {
const inputAC = document.getElementById('proveedor_p_cert').files[0].name;
document.getElementById('listadoac').innerHTML = inputAC;
}
	</script>
{% endblock %}

{% block body %}
	<style>
		.contboton-cerrar {
			font-size: 50px;
			font-weight: 700;
		}
		.contboton-cerrar a {
			color: #000;
			text-decoration: none;
		}
	</style>
	<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
		<div class="container p-3" data-turbo="false">
				<div class="d-flex flex-column justify-content-center align-items-center w-100">
					<div class="row d-flex justify-content-center align-items-start w-100 my-1">
						<div class="col-3 d-flex justify-content-center"></div>
						<div class="col-6 d-flex justify-content-center">{{ include('components/logo_pequenio.html.twig') }}</div>
						<div class="col-3 d-flex justify-content-center align-items-top contboton-cerrar">
							<a href="{{path('app_asap_services_entornos_proveedor_inicio')}}">
								<svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
							</a>
						</div>
					</div>
				</div>
				<div class="container bg-light rounded-5 contenido-mi-perfil">

					<div class="scroll-proveedor p-3">

						{{ form_start(form) }}
						<div class="perfil">
							<div class="foto-perfil">
								{% if persona.pfoto %}
									<img src="{{ asset('img/' ~ persona.pfoto) }}" id="imgPreview" style="border-radius: 50%;">
								{% else %}
									<img src="{{ asset('./image/perfil.png') }}" id="imgPreview" style="border-radius: 50%;">
								{% endif %}
								<div class="perfil-textos">
									<span class="mi-perfil">Mi perfil</span>
									<span class="editar-foto" id="editarFoto">
										{{ form_label(form.p_foto, 'Editar mi foto de perfil', {'label_attr':{'class':'link'}}) }}
										{{ form_widget(form.p_foto, { 'attr': {'style': 'display:none', 'id': 'seleccionArchivos', 'accept':"image/*", 'onchange':"previewImage(event, '#imgPreview')"} }) }}
									</span>
								</div>
							</div>

							<div class="row d-flex justify-content-center">
								<div class="col-12 row row-gap-3">
									<div
										class="input-group mb-1">
										{# <div class="input-container"> #}
										{{ form_widget(form.p_nombre, {'attr': {'class': 'input-field','id': 'floatingInput','placeholder': 'Nombre'}}) }}
										<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
										{# </div> #}
									</div>
									<div
										class="input-group mb-1">
										{# <div class="input-container"> #}
										{{ form_widget(form.p_apellido, {'attr': {'class': 'input-field','id': 'floatingInput','placeholder': 'Apellido'}}) }}
										<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512" class="svg-icon"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
										{# </div> #}
									</div>
									<div class="input-group mb-1">{# <div class="input-container"> #}
										{# <input type="number" class="input-field" id="floatingInput" placeholder="Numero de Celular"/> #}{{ form_widget(form.p_contacto, {'attr': {'class': 'input-field','id': 'floatingInput','placeholder': 'Numero de Celular'}}) }}<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
										{# </div> #}
									</div>
									<div
										class="input-group mb-1">
										{# <div class="input-container"> #}
										{{ form_widget(form.p_direccion, {'attr': {'class': 'input-field','id': 'floatingInput','placeholder': 'Direccion'}}) }}
										<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
										{# </div> #}
									</div>
									<div class="input-group mb-1">
										{# <div class="input-container"> #}
										{# <input class="input-field" id="floatingInput" placeholder="Tipo de servicio a ofrecer"/> #}
											{% if servicio is not empty %}
												{% for ser in servicio %}

											<input
												class="input-field" id="floatingInput" placeholder="Tipo de servicio a ofrecer" value="{{ser.idServicio.svNombre}}" disabled/> {# <label>{{ser.idServicio.svNombre}}</label> #}
											{% endfor %}
										{% else %}
											<input
											class="input-field" id="floatingInput" placeholder="Tipo de servicio a ofrecer" value="No tienes servicios"/>
										{# <div>No tienes servicios</div> #}
										{% endif %}
										<a
											href="{{path('app_asap_services_entornos_proveedor_servicios', {'id': persona.id})}}">
											{# <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg> #}
											<svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M227.7 11.7c15.6-15.6 40.9-15.6 56.6 0l216 216c15.6 15.6 15.6 40.9 0 56.6l-216 216c-15.6 15.6-40.9 15.6-56.6 0l-216-216c-15.6-15.6-15.6-40.9 0-56.6l216-216zm87.6 137c-4.6-4.6-11.5-5.9-17.4-3.5s-9.9 8.3-9.9 14.8v56H224c-35.3 0-64 28.7-64 64v48c0 13.3 10.7 24 24 24s24-10.7 24-24V280c0-8.8 7.2-16 16-16h64v56c0 6.5 3.9 12.3 9.9 14.8s12.9 1.1 17.4-3.5l80-80c6.2-6.2 6.2-16.4 0-22.6l-80-80z"/></svg>
										</a>
										{# </div> #}
									</div>
									<div
										class="input-group">
										{# <div class="input-container"> #}
										{{ form_label(form.p_cv, 'Adjunta tu CV', {'label_attr':{'class':'link w-100'}}) }}
										{{ form_widget(form.p_cv, { 'attr': {'style': 'display:none', 'onchange': 'verCV()'} }) }}
										<div class="m-0" style="background: black; height: 1px;"></div>
										{# <input type="password" class="input-field" id="floatingInput" placeholder="Adjunta tu CV" readonly/> #}
										{% if persona.pCv %}
											<a href="{{ path('download_pdf_cv', {'id': persona.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
											</a>
										{% else %}
											<p>Archivo no adjunto</p>
										{% endif %}
										{# <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewbox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg> #}
										{# </div> #}
									</div>
									<label
										class="badge bg-secondary text-nowrap mb-2 d-block mx-auto" style="width: calc(100% - 25px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: -4px" id="listadocv">
										{# nombre del archivo  #}
										{{ persona.pcv }}
									</label>

									<div class="input-group">{# <div class="input-container"> #}
										{# <input type="password" class="input-field" id="floatingInput" placeholder="Adjunta tus antecedentes penales" readonly/> #}{{ form_label(form.p_antpen, 'Adjunta tus antecedentes penales', {'label_attr':{'class':'link w-100'}}) }}{{ form_widget(form.p_antpen, { 'attr': {'style': 'display:none', 'onchange': 'verAP()'} }) }}<div class="m-0" style="background: black; height: 1px;"> </div>
										{% if persona.pAntpen %}
											<a href="{{ path('download_pdf_ap', {'id': persona.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
											</a>
										{% else %}
											<p>Archivo no adjunto</p>
										{% endif %}
										{# </div> #}
									</div>
									<label class="badge bg-secondary text-nowrap mb-2 d-block mx-auto" style="width: calc(100% - 25px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: -4px" id="listadoap">
										{{ persona.pantpen }}</label>

									<div
										class="input-group">
										{# <div class="input-container"> #}
										{{ form_label(form.p_cert, 'Adjunta tu Certijoven y Certiadulto', {'label_attr':{'class':'link w-100'}}) }}{{ form_widget(form.p_cert, { 'attr': {'style': 'display:none', 'onchange': 'verAC()'} }) }}
										<div class="m-0 mb-3" style="background: black; height: 1px;"></div>

										{% if persona.pCert %}
											<a href="{{ path('download_pdf_ap', {'id': persona.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
											</a>
										{% else %}
											<p>Archivo no adjunto</p>
										{% endif %}
										{# </div> #}
									</div>
								</div>

							</div>
							<label class="badge bg-secondary text-nowrap mb-2 mt-1 d-block mx-auto" style="width: calc(100% - 25px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="listadoac">
								{{ persona.pcert }}
							</label>

							<div class="row contenido-boton-mi-perfil pt-2">
								<div class="col-10">
									<button type="submit" class="btn col-12 boton-mi-perfil">Guardar cambios</button>
								</div>
							</div>
							{{ form_widget(form._token) }}
							{{ form_end(form, {render_rest: false}) }}
							<div class="row contenido-boton-mi-perfil pb-3">
								<div class="col-10">
									{{ include('asap_services/entornos/proveedor/_delete_form.html.twig') }}
									{# <a href="{{ path('app_asap_services_entornos_proveedor_ajustes_eliminar', {'id': persona.id}) }}" class="btn col-12 boton-mi-perfil" onclick="return confirm('¿Estás seguro de que deseas eliminar tu cuenta?')">Eliminar mi cuenta</a> #}
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>
		{{ include('components/footer.html.twig') }}
		{# {{ include('asap_services/entornos/proveedor/_delete_form.html.twig') }} #}
	{% endblock %}
