{% extends 'base.html.twig' %}

{% block title %}
  Cobrar Monto
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/monto_cobrar.css') }}" />
   	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>
{% endblock %}

{% block body %}

<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
	<div class="container p-3" data-turbo="false">
		<div class="container">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-3 d-flex justify-content-center"></div>
				<div class="col-6 d-flex justify-content-center">
					<img src="{{ asset('image/casita_opt.png') }}" style="width:100%">
				</div>
				<div class="col-3 d-flex justify-content-center contboton-cerrar" style="margin-top: -55px;">
				<a href="{{ path('app_asap_services_entornos_cliente_ajustes') }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="25px" viewbox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
				</a>
				</div>
				<div class="d-flex flex-column monto-cobrar-container">
					<h1 class="text-center monto-cobrar-title mb-4">Ingresar monto de cobro</h1>
					<div class="row">
						<div class="col-12">
							<input type="number" class="monto" name="p_monto" id="p_monto" cols="30" style="width: 100%;  height: 60px; font-size:30px; font-family:Nunito; font-weight:700; padding-top: 8px; padding-left: 8px; stroke-width: 1px; border: 2px solid #4302AE; outline: none;"></input>
							<div class="row contenido-boton-proveedor">
								<button type="submit" class="btn col-8 boton-aceptar">Aceptar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>


{% endblock %}