{% extends 'base.html.twig' %}

{% block title %}
  Preguntas Frecuentes
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  <link rel="stylesheet" href="{{ asset('css/proveedor/preguntas_frecuentes.css') }}" />
   	<link rel="stylesheet" href="{{ asset('css/inicio/vistapc.css') }}"/>

 {% endblock %}

{% block body %}
<img class="imagepc" src="{{ asset('/image/Img_PC.png') }}">
	<div class="imagen">
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3 d-flex justify-content-center">
    </div>
    <div class="col-6 d-flex justify-content-center">
     <img src="{{ asset('image/casita_opt.png') }}" style="width:100%">
    </div>
    <div class="col-3 d-flex justify-content-center contboton-cerrar" style="margin-top: -55px;">
      <a href="{{path('app_asap_services_entornos_proveedor_inicio')}}"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
    </a>
    </div>
  <div>

  <div class="preguntas-frecuentes-container">
    <h3 class="preguntas-frecuentes-title">Preguntas Frecuentes</h3>
    
    <div class="acordeon">
        <div class="pregunta">
            <span class="texto-pregunta">¿Cómo puedo comunicarme para ofrecer sugerencias para mejorar la aplicación?</span>
            <span class="icono-toggle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></span>
        </div>
        <div class="respuesta">Puedes comunicarte por medio de nuestro teléfono +015636231 o nuestro WhatsApp.</div>

        <div class="pregunta">
            <span class="texto-pregunta">¿Cómo puedo ver mis ganancias?</span>
            <span class="icono-toggle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></span>
        </div>
        <div class="respuesta">Tienes que dirigirte a Detalle de servicio > Ganancia. Ahí encontrarás el desglose detallado de tus ingresos y tus ganancias.</div>

        <div class="pregunta">
            <span class="texto-pregunta">¿Cómo puedo cobrar mi dinero?</span>
            <span class="icono-toggle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></span>
        </div>
        <div class="respuesta">Tienes que dirigirte a Detalle de servicio > Ganancia. Posteriormente a ello, procederás a hacer clic en Cobrar dinero, donde podrás elegir tu medio de cobro de preferencia.</div>

        <div class="pregunta">
            <span class="texto-pregunta">¿Cuánto me cobran en impuestos por mis servicios?</span>
            <span class="icono-toggle"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></span>
        </div>
        <div class="respuesta">En Asap Service, nosotros por cada trabajo que tú realices cobramos el impuesto del 12.5% del total de todos los ingresos que tuviste en la semana.</div>
    </div>

  </div>

</div>
</div>

<script>
    const preguntas = document.querySelectorAll('.pregunta');
    const respuestas = document.querySelectorAll('.respuesta');
    const iconosMostrar = document.querySelectorAll('.mostrar');
    const iconosOcultar = document.querySelectorAll('.ocultar');

    // Agregar un evento de clic a cada pregunta
    preguntas.forEach((pregunta, index) => {
        pregunta.addEventListener('click', () => {
            respuestas[index].classList.toggle('active');
            iconosMostrar[index].classList.toggle('mostrar');
            iconosOcultar[index].classList.toggle('ocultar');
        });
    });
</script>    

{{ include('components/footer.html.twig') }}

{% endblock %}