{% for participante in participantes %}
    {% for mensaje in participante.conversacionId.chats %}
        <div class="chatclientes-body overflow-auto" style="max-height: calc(100% - 160px);">
            <div class="chatclientes-mensaje d-flex align-items-center my-2">
                <figure>
                    {% if mensaje.usuarioId.idPersona.pFoto %}
						<img src="{{ asset('img/' ~ mensaje.usuarioId.idPersona.pFoto) }}" min-width="50" min-height="50" style="border-radius:50%">
					{% else %}
						<img src="{{ asset('./image/perfil.png') }}" min-width="50" min-height="50" style="border-radius:50%">
					{% endif %}
                {# <img src="{{asset("image/"~person)}}"/> #}
                </figure>
            {# <div>{{mensaje.usuarioId.idPersona.pNombre}}</div> #}
                <div class="chatcliente-mensaje-text">
                    <p>{{mensaje.mensaje}}</p>
                </div>
            </div>
        </div>      
        {% else %}
    <li>Comienza la conversaciónn!</li>
    {% endfor %}
{% else %}
    <li>Comienza la conversaciónn!</li>
{% endfor %}