<div{{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.p_nombre) }}
    {{ form_row(form.p_apellido) }}
    {{ form_row(form.p_contacto) }}
    {{ form_row(form.p_direccion) }}
    {{ form_row(form.p_foto) }}
    {{ form_row(form.p_cv) }}
    {{ form_row(form.p_antpen) }}
    {{ form_row(form.p_cert) }}
    {{ form_row(form.usuario.email) }}
    {{ form_label(form.usuario.password) }}
    {{ form_widget(form.usuario.password) }}
    {{ form_row(form.p_biografia) }}
    {{ form_row(form.p_experiencia) }}
    {{ form_row(form.p_distrito) }}
    {{ form_row(form.p_habilidades) }}
    
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
</div>